# Адрес тестируемого проекта СУ ОП
BASE_URL=https://tnop12.rt.ru

# Данные для Basic авторизации
BASIC_AUTH_LOGIN=username
BASIC_AUTH_PASSWORD=password

# Данные пользователя
CLIENT_LOGIN=user@domain.ru
CLIENT_PASSWORD=password
ORGANIZATION_CLIENT=ООО «Компания»
ORGANIZATION_MANAGER=ООО «ЦХД» B2B Менеджер по продажам и по работе с клиентами